.day-wrapper {
    border-style: solid;
    border-color: #ff767a;
    border-radius: 12%;
    width: 20%;
    height: 210px;
    margin-right:5%;
    padding: 1%;
    display: inline-grid;
    text-align: center;
    font-size: 20px;

}

.weekTopic{
    font-size:20px;
}