.btn-sort-weeks {
    margin-right:10px;
    background-color: #3f5f87;
    color:white;
}

.btn-sort-topics {
    background-color: #3f5f87;
    color:white;
}

.btn-sort-weeks-wrapper {
    display:inline-block;
    
}

.btn-sort-topics-wrapper {
    display:inline-block;
    
}

.btn-wrapper {
    margin-top: 10px;
    
}

.align{
    margin-left:20px;
}
