.btn-sort-weeks {
    margin-right:10px;
}

.btn-sort-topics {

}

.btn-sort-weeks-wrapper {
    display:inline-block;
    
}

.btn-sort-topics-wrapper {
    display:inline-block;
    
}

.btn-wrapper {
    margin-top: 10px;
    
}

.align{
    margin-left:20px;
}
