.topic-wrapper {
    border-style: solid;
    border-color: #ff767a;
    border-radius: 12%;
    width: 20%;
    height: 210px;
    margin: 5%;
    margin-left: -5px;
    padding: 1%;
    display: inline-grid;
    text-align: center;
    font-size: 20px;
}

.subtopic {
    font-size: 20px;
    color:#d7b24f;

}

.week-topic-wrapper {
    margin-left:0px
}


