.section{
    text-align: justify;
    text-justify: inter-character;
    /* font-family: 'Montserrat Alternates', sans-serif; */
}

.lesson-section-header{
    margin: 0 2%;
}

.section-header .selected{
    width:fit-content;
}