.section{
    text-align: justify;
    text-justify: inter-character;
    /* font-family: 'Montserrat Alternates', sans-serif; */
}

.lesson-section-header{
    margin: 0 2%;
}

.section-header .selected{
    width:fit-content;
}

.student-completion{
    color:grey;
    position: relative;
    left: 80%;
    top: 0.5em;
    transition-property:font-size;
    transition-duration: .3s;
    
}

.student-completion:hover{
    color:#22b39b;
    position: relative;
    left: 80%;
    top: 0.5em;
    font-size:3.5em;
    cursor: pointer;
}

