@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* .sh-wrapper{
    font-family: "Open Sans";
} */

.sh-hello {
    text-align: left;
    
}
.sh-quote-wrapper {
    text-align: center;
    
}
.sh-header {
    text-align: left;
    margin-top: 50px;
    font-size: 30px;
    
}